.about {
  background-color: #E8C4C4;
  padding: 36px 100px;
  width: calc(100% - 200px);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 40px;

  .pictures {
    width: calc(50% - 100px);
    min-width: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;

    img {
      width: 100%;
    }
  }

  .info {
    width: calc(50% - 40px);
    min-width: 300px;
    font-size: 12px;
    padding: 10px;
    text-align: center;
    background-color: rgba(43, 58, 85, 0.6);
    border-radius: 5px;
  }
}

@media screen and (max-width: 940px) {
  .about {
    padding: 50px 20px;
    width: calc(100% - 40px);
    flex-direction: column;
    gap: 50px;

    .pictures {
      width: calc(100% - 20px);
      min-width: 100px;
      display: flex;
      flex-direction: row;
      align-items: center;
      align-content: center;

      img {
        width: 100%;
      }
    }

    .info {
      width: calc(100% - 20px);
      min-width: 100px;
    }
  }
}
