body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .content {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

a {
  color: #ffffff;
}

.dark {
  background-color:#2B3A55; //rgb(43, 58, 85);
  color: #ffffff;
}

.pink {
  background-color:#CE7777;
  color: #ffffff;
}

.show {
  display: inline-block;
}

.hide {
  display: none;
}

.highlight {
  color: #E8C4C4;
}

.text-white {
  color: #FFFFFF;
}

.big-text {
  font-size: 36px;
}

.small-text {
  font-size: 12px;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .home, .display {
    height: 100vh;
  }
}

.display {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: 1s all ease;
}

.display.active {
  transform: translateY(0);
  opacity: 1;
}

@media screen and (max-width: 940px) {

  #root {
    .home, .display {
      height: fit-content;
    }
  }

}

// rose #CE7777
// light rose #E8C4C4
// white #F2E5E5