.home {
  width: 100%;
  display: flex;
  padding: 0px 120px;
  flex-direction: row;
  justify-content: center;

  .home-content {
    height: 100%;
    width: calc(100% - 240px);
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    gap: 40px;

    .description {
      width: calc(50% - 20px);
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      gap: 40px;
      font-size: 50px;

      .greeting {
        font-family: 'Space Mono', monospace;
        display: flex;
        flex-direction: column;
        justify-content: left;

        .tag {
          color: #CE7777;

          .fake-space {
            font-size: 1px;
          }
        }

        .hello {
          padding-left: 36px;
        }
      }

      .icons {
        display: flex;
        flex-direction: row;
        gap: 20px;

        img {
          width: 60px;
          cursor: pointer;
        }
      }

      .photo {
        display: contents;
      }
    }
  }
}

@media screen and (max-width: 940px) {
  .home {
    .home-content {
      padding-top: 76px;
      padding-left: 0px;
      width: calc(100% - 40px);
      flex-direction: column;
      gap: 50px;

      .description {
        width: 100%;
        gap: 30px;
        font-size: 40px;

        .icons {
          padding-bottom: 30px;
          display: flex;
          flex-direction: row;
          gap: 10px;

          img {
            width: 40px;
            cursor: pointer;
          }
        }

        .photo {
          img {
            width: 80%;
            max-width: 400px;
          }
        }
      }
    }
  }
}

