.nav-bar-wrapper {
  padding: 20px 36px;
  width: calc(100% - 72px);
  font-size: 30px;
  position: fixed;
  z-index: 1;
  background-color: rgba(43, 58, 85, 0.8);

  .nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .name {
      color: white;
      text-decoration: none;

      .lastname {
        font-weight: 100;
      }
    }
  }
}

