.nav-bar-wrapper {
  padding: 20px 36px;
  width: calc(100% - 72px);
  font-size: 30px;

  .nav-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .name {
      .lastname {
        font-weight: 100;
      }
    }

    .burguer, .close {

      img {
        width: 40px;
        cursor: pointer;
      }
    }
  }
}

