.resume-view {
  padding: 76px 120px 36px 120px;
  width: calc(100% - 240px);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

  .resume-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 20px;

    .resume {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-content: center;
      gap: 20px;

      .resume-brief {
        cursor: pointer;
        width: calc(50% - 20px);
        padding: 16px;
        height: fit-content;
        min-width: 180px;
        display: flex;
        flex-direction: column;
        color: white;
        background-color: rgba(43, 58, 85, 0.6);
        border: 2px solid #2B3A55;
        border-radius: 5px;
      }

      .selected {
        border: 2px solid #CE7777;
      }

    }

    .selected-description {
      .resume-details {
        background-color: rgba(43, 58, 85, 0.6);
        border: 2px solid #CE7777;
        border-radius: 5px;
        padding: 16px;

        ul>li {
          line-height: 30px;
          font-size: 20px;
        }
      }
    }
  }

  .resume-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 36px;
  }
}

@media screen and (max-width: 940px) {
  .resume-view {
    padding: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;

    .resume-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-content: center;
      gap: 20px;

      .resume {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 20px;

        .resume-brief {
          width: calc(100% - 32px);
        }
        .selected {
          cursor: pointer;
          display: none;
          padding: 16px;
          height: fit-content;
          display: flex;
          flex-direction: column;
          color: white;
          background-color: rgba(43, 58, 85, 0.6);
          border: 2px solid #CE7777;
        }

        :not(.selected) {
          .small-text {
            color: #CE7777;
            font-size: 16px;
          }
          .big-text, .company-info {
            display: none;
          }
        }
      }

      .selected-description {
        .resume-details {
          background-color: rgba(43, 58, 85, 0.6);
          border: 2px solid #CE7777;
          border-radius: 5px;
          padding: 8px 8px 8px 2px;
          height: 300px;
          overflow-y: scroll;

          ul>li {
            line-height: 30px;
            font-size: 20px;
          }
        }
      }
    }
  }
}