body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .content {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dark {
  background-color: #2B3A55;
  color: #ffffff;
}

.pink {
  background-color: #CE7777;
  color: #ffffff;
}

.show {
  display: inline-block;
}

.hide {
  display: none;
}

.show-overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.show-overlay .vertical-menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hide-overlay {
  display: none;
}

.nav-bar-wrapper {
  padding: 20px 36px;
  width: calc(100% - 72px);
  font-size: 30px;
}
.nav-bar-wrapper .nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-bar-wrapper .nav-bar .name .lastname {
  font-weight: 100;
}
.nav-bar-wrapper .nav-bar .burguer img, .nav-bar-wrapper .nav-bar .close img {
  width: 40px;
  cursor: pointer;
}

.home {
  width: 100%;
}
.home .home-content {
  padding: 36px 120px;
  width: calc(100% - 240px);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 40px;
}
.home .home-content .description {
  width: calc(50% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 40px;
  font-size: 50px;
}
.home .home-content .description .greeting {
  font-family: "Space Mono", monospace;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.home .home-content .description .greeting .tag {
  color: #CE7777;
}
.home .home-content .description .greeting .tag .fake-space {
  font-size: 1px;
}
.home .home-content .description .greeting .hello {
  padding-left: 36px;
}
.home .home-content .description .icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.home .home-content .description .icons img {
  width: 60px;
  cursor: pointer;
}
.home .home-content .description .photo {
  display: contents;
}

@media screen and (max-width: 800px) {
  .home .home-content {
    padding: 20px 80px;
    width: calc(100% - 160px);
    flex-direction: column;
    gap: 80px;
  }
}
.about {
  padding: 36px 120px;
  width: calc(100% - 240px);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 40px;
}
.about .pictures {
  width: calc(50% - 100px);
  min-width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.about .pictures img {
  width: 100%;
}
.about .info {
  width: calc(50% - 40px);
  min-width: 300px;
  font-size: 12px;
  text-align: center;
  background-color: rgba(43, 58, 85, 0.6);
  border-radius: 100px;
}
.about .info .highlight {
  color: #E8C4C4;
}

@media screen and (max-width: 900px) {
  .about {
    padding: 20px;
    width: calc(100% - 40px);
    flex-direction: column;
    gap: 80px;
  }
}
.projects {
  width: 100%;
  padding: 36px 120px;
  width: calc(100% - 240px);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 40px;
}
.projects .maze, .projects .kws {
  width: calc(50% - 20px);
}

@media screen and (max-width: 900px) {
  .projects {
    padding: 20px 80px;
    width: calc(100% - 160px);
    flex-direction: column;
    gap: 80px;
  }
}
.menu {
  height: 100%;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu .vertical-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 36px;
}
.menu .vertical-menu a {
  color: white;
  text-decoration: none;
}
.menu .vertical-menu a:hover {
  color: #2B3A55;
}

.footer {
  width: 100%;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
  padding-bottom: 10px;
}
.footer div {
  height: 30px;
}

/*# sourceMappingURL=output.css.map */
