body {
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .content {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dark {
  background-color: #2B3A55;
  color: #ffffff;
}

.pink {
  background-color: #CE7777;
  color: #ffffff;
}

.show {
  display: inline-block;
}

.hide {
  display: none;
}

.highlight {
  color: #E8C4C4;
}

.text-white {
  color: #FFFFFF;
}

.big-text {
  font-size: 36px;
}

.small-text {
  font-size: 12px;
}

#root {
  height: 100%;
}

.nav-bar-wrapper {
  padding: 20px 36px;
  width: calc(100% - 72px);
  font-size: 30px;
}
.nav-bar-wrapper .nav-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-bar-wrapper .nav-bar .name {
  color: white;
  text-decoration: none;
}
.nav-bar-wrapper .nav-bar .name .lastname {
  font-weight: 100;
}
.nav-bar-wrapper .nav-bar .burguer img, .nav-bar-wrapper .nav-bar .close img {
  width: 40px;
  cursor: pointer;
}

.home {
  width: 100%;
  height: 100%;
  display: flex;
}
.home .home-content {
  padding: 36px 120px;
  width: calc(100% - 240px);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 40px;
}
.home .home-content .description {
  width: calc(50% - 20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 40px;
  font-size: 50px;
}
.home .home-content .description .greeting {
  font-family: "Space Mono", monospace;
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.home .home-content .description .greeting .tag {
  color: #CE7777;
}
.home .home-content .description .greeting .tag .fake-space {
  font-size: 1px;
}
.home .home-content .description .greeting .hello {
  padding-left: 36px;
}
.home .home-content .description .icons {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.home .home-content .description .icons img {
  width: 60px;
  cursor: pointer;
}
.home .home-content .description .photo {
  display: contents;
}

@media screen and (max-width: 800px) {
  .home .home-content {
    padding: 20px 80px;
    width: calc(100% - 160px);
    flex-direction: column;
    gap: 80px;
  }
}
.about {
  padding: 36px 120px;
  width: calc(100% - 240px);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 40px;
}
.about .pictures {
  width: calc(50% - 100px);
  min-width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}
.about .pictures img {
  width: 100%;
}
.about .info {
  width: calc(50% - 40px);
  min-width: 300px;
  font-size: 12px;
  text-align: center;
  background-color: rgba(43, 58, 85, 0.6);
  border-radius: 5px;
}

@media screen and (max-width: 900px) {
  .about {
    padding: 20px;
    width: calc(100% - 40px);
    flex-direction: column;
    gap: 80px;
  }
}
.projects {
  width: 100%;
  padding: 36px 120px;
  width: calc(100% - 240px);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 40px;
}
.projects .maze, .projects .kws {
  width: calc(50% - 20px);
}

@media screen and (max-width: 900px) {
  .projects {
    padding: 20px 80px;
    width: calc(100% - 160px);
    flex-direction: column;
    gap: 80px;
  }
}
.resume-view {
  padding: 36px 120px;
  width: calc(100% - 240px);
  height: calc(100% - 72px);
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
}
.resume-view .resume-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 20px;
}
.resume-view .resume-wrapper .resume {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 20px;
}
.resume-view .resume-wrapper .resume .resume-brief {
  cursor: pointer;
  width: calc(50% - 20px);
  padding: 16px;
  height: fit-content;
  min-width: 180px;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgba(43, 58, 85, 0.6);
  border: 2px solid #2B3A55;
  border-radius: 5px;
}
.resume-view .resume-wrapper .resume .selected {
  border: 2px solid #CE7777;
}
.resume-view .resume-wrapper .selected-description .resume-details {
  background-color: rgba(43, 58, 85, 0.6);
  border: 2px solid #CE7777;
  border-radius: 5px;
  padding: 16px;
}
.resume-view .resume-wrapper .selected-description .resume-details ul > li {
  line-height: 30px;
  font-size: 20px;
}
.resume-view .resume-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 16px;
}

@media screen and (max-width: 900px) {
  .resume-view {
    padding: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
  }
  .resume-view .resume-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 20px;
  }
  .resume-view .resume-wrapper .resume {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    gap: 20px;
  }
  .resume-view .resume-wrapper .resume .resume-brief {
    display: none;
  }
  .resume-view .resume-wrapper .resume .selected {
    cursor: pointer;
    display: none;
    padding: 16px;
    width: 60%;
    height: fit-content;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: rgba(43, 58, 85, 0.6);
    border: 2px solid #CE7777;
  }
  .resume-view .resume-wrapper .selected-description .resume-details {
    background-color: rgba(43, 58, 85, 0.6);
    border: 2px solid #CE7777;
    border-radius: 5px;
    padding: 8px 8px 8px 2px;
  }
  .resume-view .resume-wrapper .selected-description .resume-details ul > li {
    line-height: 30px;
    font-size: 20px;
  }
}
.menu {
  height: 100%;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu .vertical-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-size: 36px;
}
.menu .vertical-menu a {
  color: white;
  text-decoration: none;
}
.menu .vertical-menu a:hover {
  color: #2B3A55;
}

.footer {
  width: 100%;
  bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
  padding-bottom: 10px;
  position: fixed;
}
.footer div {
  height: 30px;
}

/*# sourceMappingURL=output.css.map */
