html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, li, a, input[type=submit], span {
  cursor: pointer;
}

button:focus, input:focus {
  outline: 0;
}

#navBar {
  width: auto;
  height: 60px;
  padding: 0 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
  font-weight: 600;
  font-size: 1em;
  color: white;
  background-image: linear-gradient(to right, #F070A1, #16FFBD);
}
#navBar #name {
  cursor: pointer;
}
#navBar #contactInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}
#navBar #contactInfo div {
  margin: 6% 10%;
}

#natalyModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
}
#natalyModal #nataly {
  width: 50%;
  margin: 5% auto;
  font-weight: normal;
  line-height: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}
#natalyModal #close {
  font-size: 3em;
}
#natalyModal #close:hover {
  font-size: 3.5em;
  color: #F070A1;
}
#natalyModal div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
#natalyModal div img {
  width: 25%;
  height: 25%;
}
#natalyModal div p {
  border-left: 5px solid #F070A1;
  margin: 0% 5%;
  padding-left: 5%;
}
#natalyModal div p a {
  color: #F070A1;
}
#natalyModal div p a:hover {
  text-decoration: underline;
}

#content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
#content #timeLine {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100%;
  margin: 50px auto;
  height: 2px;
  background-color: #16FFBD;
  list-style: none;
}
#content #timeLine li {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #16FFBD;
  font-weight: bolder;
  font-size: 2em;
  margin-bottom: -13px;
}
#content #timeLine li label {
  font-size: 0.5em;
}
#content #timeLine .selected {
  color: #F070A1;
}
#content #timeLine li:hover {
  color: #F070A1;
}
#content #timeline-content {
  display: flex;
  margin: auto;
  width: 70%;
  height: 200px;
  border-top: 2px solid #F070A1;
  border-bottom: 2px solid #F070A1;
  align-content: center;
}
#content #timeline-content div {
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
#content #timeline-content div h1 {
  width: 100%;
  text-align: center;
  font-size: 2em;
  line-height: 2em;
}
#content #timeline-content div p {
  width: 100%;
  text-align: center;
  font-size: 1.1em;
  line-height: 1.5em;
  font-style: italic;
}
#content #timeline-content .hidden {
  display: none;
  width: 50%;
}
#content #skills {
  margin: 3px auto;
  width: 70%;
  background: #F070A1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#content #skills div {
  color: white;
  padding: 2%;
  text-align: center;
}

/*# sourceMappingURL=output.css.map */
