html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Lato", sans-serif;
  vertical-align: baseline;
  text-decoration: none;
  color: #252839;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, li, a, input[type=submit], span {
  cursor: pointer;
}

button:focus, input:focus {
  outline: 0;
}

#navBar {
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  box-shadow: 0px 4px 6px rgba(37, 40, 57, 0.5);
}
#navBar #name {
  font-size: 110%;
  padding: 10px;
  margin-left: 100px;
  width: 200px;
}
#navBar #contactInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 120px;
  justify-content: space-evenly;
  margin-right: 100px;
}
#navBar #contactInfo img {
  margin: 0;
}
#navBar #burguer {
  display: none;
}

@media all and (max-width: 940px) {
  #navBar {
    height: 60px;
  }
  #navBar #name {
    margin: 0px;
    margin-left: 30px;
    padding-left: 0;
  }
  #navBar #contactInfo {
    display: none;
  }
  #navBar #burguer {
    display: inline-block;
    margin-right: 30px;
  }
}
#menu {
  display: none;
  width: 100%;
  margin-top: 0;
  flex-direction: column;
  align-content: center;
  margin-top: -15px;
}
#menu a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 30px;
  font-size: 80%;
  height: 50px;
  background-color: rgba(37, 40, 57, 0.05);
  border-bottom: 1px solid #ffffff;
}

#content {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 500px;
  margin-bottom: 80px;
  margin-top: 80px;
}
#content #myInfo {
  height: 100%;
  width: 49%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}
#content #myInfo #description {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 80%;
  justify-content: center;
}
#content #myInfo #description img {
  height: 200px;
  padding-right: 5%;
  border-right: 2px solid #b5b5b7;
}
#content #myInfo #description #text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5%;
}
#content #myInfo #description #text h1 {
  font-size: 110%;
  letter-spacing: 1px;
}
#content #myInfo #description #text h2 {
  font-size: 70%;
  padding: 0px;
  padding-bottom: 10px;
  padding-top: 5px;
  display: block;
  text-align: left;
  letter-spacing: 1px;
}
#content #myInfo #description #text h3 {
  line-height: 150%;
  font-size: 80%;
  text-align: left;
  font-weight: 500;
  letter-spacing: 1px;
}
#content #myInfo #canvas {
  width: 49%;
  max-width: 800px;
  height: 500px;
  align-self: flex-end;
  position: absolute;
}
#content #projects-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 600px;
  height: 500px;
  width: 49%;
}
#content #projects-section a .project {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 70px;
  max-width: 500px;
}
#content #projects-section a .project img {
  width: 100px;
  height: auto;
  margin-right: 2.5%;
}
#content #projects-section a .project div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  padding: 20px;
}
#content #projects-section a .project div h1 {
  font-size: 110%;
  padding-bottom: 5px;
  letter-spacing: 1px;
}
#content #projects-section a .project div h2 {
  font-size: 80%;
  padding-bottom: 10px;
  letter-spacing: 1px;
}
#content #projects-section a .project div h3 {
  line-height: 150%;
  font-size: 80%;
  font-weight: 500;
  letter-spacing: 1px;
}

@media all and (max-width: 940px) {
  #content {
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 30px;
  }
  #content #myInfo {
    height: auto;
    width: 100%;
    max-width: 800px;
  }
  #content #myInfo #description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    justify-content: center;
    margin-bottom: 30px;
  }
  #content #myInfo #description img {
    width: 100%;
    border: none;
    height: auto;
    padding: 2px;
    margin-bottom: 20px;
  }
  #content #myInfo #description #text {
    border: none;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 30px;
  }
  #content #myInfo #description #text h1 {
    text-align: center;
  }
  #content #myInfo #description #text h2 {
    display: block;
    text-align: center;
  }
  #content #myInfo #canvas {
    display: none;
  }
  #content #projects-section {
    width: 100%;
    height: auto;
  }
  #content #projects-section a .project {
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 30px;
  }
  #content #projects-section a .project img {
    width: 80px;
    height: auto;
    margin-right: 2.5%;
  }
  #content #projects-section a .project div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    width: 80%;
    height: auto;
    padding: 20px;
  }
}
#skills {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
  border-top: 0.5px solid #252839;
  border-bottom: 0.5px solid #252839;
}
#skills div {
  display: inline-block;
  white-space: nowrap;
  padding: 10px 30px;
  text-align: center;
  font-size: 90%;
  font-weight: 400;
}

@media all and (max-width: 980px) {
  #skills {
    width: 90%;
  }
  #skills div {
    padding: 8px 15px;
  }
}
#timeLine {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 100%;
  margin: 0px auto;
  height: 2px;
  background-color: #b5b5b7;
  list-style: none;
  margin-bottom: 80px;
  z-index: 2;
}
#timeLine li {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #7984EB;
  font-weight: bolder;
  font-size: 2em;
  margin-bottom: -13px;
}
#timeLine li label {
  font-size: 0.4em;
  color: #252839;
}
#timeLine .selected {
  color: #FF9F00;
}
@media all and (min-width: 941px) {
  #timeLine li:hover {
    color: #FF9F00;
  }
}

#timeline-content {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 80%;
  align-items: center;
}
#timeline-content div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 60px;
}
#timeline-content div img {
  width: 100px;
  padding-right: 30px;
}
#timeline-content div ul {
  width: 100%;
  text-align: center;
  font-size: 100%;
  line-height: 150%;
}
#timeline-content div ul li {
  text-align: left;
  padding-bottom: 10px;
}
#timeline-content .hidden {
  display: none;
  height: 0px;
}

#quote {
  background-image: radial-gradient(#7984EB -60%, #ffffff 70%);
  width: 70%;
  font-size: 100%;
  line-height: 200%;
  text-align: center;
  margin-bottom: 50px;
}
#quote p {
  padding: 10px;
}

@media all and (max-width: 940px) {
  #timeline-content {
    margin: 10px;
    margin-top: -40px;
  }
  #timeline-content div {
    flex-direction: column;
    height: 250px;
  }
  #timeline-content div img {
    margin: 10px;
    padding: 0;
  }
  #timeline-content div ul li {
    font-size: 80%;
    line-height: 120%;
    text-align: center;
  }

  #quote {
    width: 85%;
  }
}
#footer {
  height: 70px;
  display: inline-block;
  bottom: 0px;
}
#footer #footer1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 100%;
}
#footer #footer1 div {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#footer #footer1 div img {
  width: 20px;
  height: 20px;
  padding: 5px;
}
#footer #footer1 div div {
  margin: 0px;
}
#footer #footer2 {
  color: #252839;
  text-align: center;
  margin: 10px;
  font-size: 70%;
}

@media all and (max-width: 940px) {
  #footer {
    height: auto;
  }
  #footer #footer1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  #footer #footer1 div {
    margin: 2px;
  }
}

/*# sourceMappingURL=output.css.map */
