#Body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  #timeLine {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    margin: 3% auto;
    height: 2px;
    background-color: #16FFBD;
    list-style: none;

    li {
      width: 25%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      color: #F070A1;
      font-weight: bolder;
      font-size: 2em;
    }

    li label{
      font-size: 0.5em;
    }

    li div {
      width: 100%;
      z-index: 1;
      position: relative;
      padding: 5%;
    }

    li div p, li div span {
      display: none;
    }

  }
}

