#content {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  height: 500px;

  #myInfo{
    margin: 40px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


    #description{
      display: flex;
      flex-direction: row;

      img {
        width: 200px;
        height: 220px;
        border-right: 2px solid white;
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;

        h1 {
          font-size: 100%;
        }

        p{ 
          line-height: 150%;
          font-size: 90%;
        }        
      }
    }

    #canvas{
      height: 100%;
      width: 100%;
      margin-top: -50%;
    }
  }

  #projects-section{
    display: flex;
    flex-direction: column;
    width: 40%;
    
    .project {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: auto;
      margin: 15px;

      img {
        width: 30%;
        margin-right: 10px;
      }

      div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        h1 {
          font-size: 100%;
          padding-bottom: 5px;
        }

        p{ 
          line-height: 150%;
          font-size: 80%;
        }        
      }
    }
  }

}

