#menu{
  display: none;
  width: 100%;
  margin-top: 0;
  flex-direction: column;
  align-content: center;
  margin-top: -15px;

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 30px;
    font-size: 80%;
    height: 50px;
    background-color: rgba(37,40,57, 0.05);
    border-bottom: 1px solid #ffffff; 
  }
}