#projects-section {
  display: flex; 
  flex-direction: column; 
  align-items: center;
  background-image: linear-gradient(27deg, #F07, #16F);

  h1 {
    font-family: "Bad Script", cursive; 
    font-size: 300%; 
    padding: 40px;
    padding-bottom: 10px;
    text-decoration: underline;
    font-weight: 100;
  }

  #projects {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;

    div {
      height: 300px;
      width: 250px;
      line-height: 150%;
      font-weight: 200;
      margin: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      h2 {
        font-size: 100%;
      }

      img {
        width: 80px;
      }

      p {
        font-size: 80%;
        padding: 5px 10px;
      }
    }
  }


}