#skills {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
  border-top: 0.5px solid #252839;
  border-bottom: 0.5px solid #252839;
  
  div {
    display: inline-block;
    white-space: nowrap;
    padding: 10px 30px;
    text-align: center;
    font-size: 90%;
    font-weight: 400;
  }
}


@media all and (max-width: 980px){
  #skills {
    padding: 10px 15px;
  }
}