<div class="projects display">
  <div class="project-2">
    <div>
      <a href="https://nmenares.github.io/js_someways/" target="_blank">SomeWays
        <img src="https://nmenares.github.io/portfolio/public/someways.gif" alt="a maze game" width="300px" height="300px">
      </a>
    </div>
    <div>
      <a href="https://nmenares.github.io/brunospage/" target="_blank">Bruno's Page
        <img src="https://nmenares.github.io/portfolio/public/bruno.png" alt="bruno's info" width="300px" height="300px">
      </a>
    </div>
  </div>
  <div class="project-2">
    <div>
      <a href="https://idyllika.store/" target="_blank">Idyllika Store
        <img src="https://nmenares.github.io/portfolio/public/idyllika.png" alt="my jewelry store" width="300px" height="300px">
      </a>
    </div>
    <div>
      <a href="https://incarose.com/" target="_blank">Incarose
        <img src="https://nmenares.github.io/portfolio/public/incarose.png" alt="Carol Zarate Jewelry" width="300px" height="300px">
      </a>
    </div>
  </div>
</div>
