<div class="resume-view display">
  <div class="resume-wrapper">
    <div style="height: 100px"></div>
    <div id="balls-map"></div>
    <div class="resume">
      <div onclick="goBack()" class="huge-text highlight2 button">&#8249;</div>
      <div class="resume-brief selected">
        <div id="date" class="small-text"></div>
        <div id="role" class="big-text highlight"></div>
        <div id="company" class="company-info"></div>
        <div id="base" class="company-info"></div>
      </div>
      <div onclick="goNext()" class="huge-text highlight2 button">&#8250;</div>
    </div>
    <div id="description" class="selected-description">
      <div class="resume-details">
      </div>
    </div>
    <div id="accomplishments"></div>
  </div>
  <div class="resume-container">
    <a href="https://nmenares.github.io/portfolio/public/resume.pdf" target="_blank" alt="resume">
      <img src="https://nmenares.github.io/portfolio/public/resume.png">
    </a>
  </div>
</div>
